.beer-store-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  /* grid-template-rows: 1fr 3fr; */
  background-color: white;
}

.beer-container {
  display: grid;
  grid-template-columns: minmax(215px, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  /* border-color: brown; */
}

.beer-heading {
  grid-column: 1 / -1;
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 5px;
  color: black;
  /* background-color: blue; */
}

.beer-image {
  grid-row: 2;
  /* background-color: aquamarine; */
}

.beer-image img {
  height: 500px;
  }

.beer-info {
  grid-row: 3;
  text-align: center;
  color: black;
}

.beer-info p {
  margin: 5px 0;
}





/* change for mobile  */
@media (max-width: 768px) {
  
.beer-store-container {
  grid-template-columns: 1fr 1fr;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  margin: 0;
}

.beer-image img {
height: 200px;
}

.beer-heading {
  font-size: 22px;
  
}

.beer-info p{
  font-size: 20px;
}


}