.top-image {
  position: relative;
  width: 100%;
}

.top-image img {
  position: relative;
  width: 100%;  
}


.directions {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}


.city-images {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0px;
  padding-bottom: 50px;
}


.city-images img {
  height: 600px;
}


.drone-parking {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
}

.drone-parking img{
  width: 100%;  
  
}


.bottom-quote {
  display: grid;
  align-items: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
}


.bottom-quote img {
  padding-bottom: 200px;
}


#map-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;   
}


#map {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}



@media (max-width: 768px) {


  .top-image img {
    width: 100%;
  }
  
  
  .city-images {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;  
  }
  
  .city-images img {
    height: 350px;
  }  
  
  #motor {
    display: none;
  
  }
  
  #sunset-portrait {
    display: none;
  }
   
  .directions {
    width: 100%;

  }
  
  

  .bottom-quote img {
    width: 380px;  
    padding-bottom: 0px;
  }





}