 /* CSS for navigation bar */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #bfa995;
  padding: 1rem;
}
.navbar a {
  color: #bfa995;
  text-decoration: none;
  margin-right: 1rem;
}
/* CSS for icons */
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

/* CSS for logo */
.logo {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 300px;
}
