 /* CSS for navigation bar */
 .navbar {
  display: flex;
  justify-content: space-between;
  
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  
  
  align-items: center;
  background-color: rgba(89, 25, 42, 0.75);
  color: #59192a;
  padding: 1rem;
}
.navbar a {
  color: #f2e6d8;
  text-decoration: none;
  margin-right: 1rem;
}






/* CSS for icons */
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}



.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

/* CSS for logo */
.logo {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 200px;
}

.text-logo {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 300px;
}
