
.intro {
  display: flex;
  position: relative;
  width: 100%; 
  height: 600px;     
}

.background {
  position: relative;
  top: 0;
  left: 0;  
  width: 100%;
  /* height: 800px; */
  object-fit: cover;
}

.quote {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  max-width: 60%; 
}




/*Contact Information */

.phone{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  padding-top: 23px;
  padding-bottom: 25px;
  margin: 0px 0px;  
  background-color: var(--primary);
  opacity: .8;
  
}

.phone h2{
  color: var(--text);
}


.phone img{
  padding-right: 15px;
}


.telephone {
  text-align: center;
  margin: 0 20px;
  height: 35px;
  
}

.telephone img {
  padding-right: 20px;
  margin: 0 20px;
}


.directions {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  justify-content: space-around;
  margin-top: 20px;
}



.about-us-opener p{
  color: var(--primary);
}

/*Fresh Sausages Menu */

.fresh-sausages-text {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
      
}

.sausage-images {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
}

.menu-title {
  width: 30%;
  padding-top: 120px;
  padding-bottom: 40px;  
}


.sausage-menu {
  border-style: solid;
}

.sausage-menu p{
  color: var(--highlight);
}

.sausage-menu h3{
  color: var(--highlight);
}

.rest-of-menu h3{
  color: var(--highlight);
}


.case-2 {
  display: flex;
  width: 100%;
  height: auto;
  display: block;
}

.city-images {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  position: relative;
  padding-top: 60px;
  padding-bottom: 10px;
}

.city-images img {
  height: 600px;
}


.drone-parking img {
  width: 100%;
  padding-top: 20px;
  
}


.compact-description {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.compact-description p{
  color: var(--primary);
}

.location-section p{
  color: var(--highlight);
}

.location-section h3{
  color: var(--highlight);
}







/* change for mobile  */
@media (max-width: 768px) {


.intro {
  height: 400px;
  
  
}

.quote {  
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  max-width: 80%; 
}

.background {
  height: 128%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}


.landscape-image {
  max-width: 100%;
}


.menu-title {
  width: 60%;  
}
  
#motor {
  display: none;
}

#sunset-portrait {
  display: none;
}

 
#parking img { 
  width: 100%;  
}  


.directions {
  padding-top: 45px;
}


.city-images {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;  
}

.city-images img {
  height: 350px;
}

.compact-description {
  grid-template-columns: 300px;
  
}



  }





