:root {
  --primary: #1a5a73;
  --light: #f2e6d8;
  --dark: #59192a;
}


body {
  /* This style below will be inherited */
  font-family:Arial, Helvetica, sans-serif;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  background-color: #000000;
}


h1 {
  color: #f2913d;
}