:root {
  --primary: #d9a714;
  --light: #f2e6d8;  
  --dark: #2f242c;
  --medium: #1d5a73;
  --highlight: #e67f09;
}


body {
  /* This style below will be inherited */
  font-family:Arial, Helvetica, sans-serif;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  background-color: var(--medium);
}


h1 {
  color: #f2913d;
}

h2 {
  color: var(--light);
  text-decoration: none;
}