.steak-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}


.meat-categories {
  display: grid;
  padding-top: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
  /* background-color: aqua; */

}


.store-heading {
  display: grid;
  align-content: center;
  background-color: black;
  border-bottom: 3px solid var(--primary);
  
}

.store-heading h4 {
  text-align: center;
}

.meat-item {
 display: grid;
 grid-template-columns: 1fr 1fr;
 /* background-color: brown; */

}


.meat-item-title {
  
  /* background-color: chartreuse; */
}

.meat-item-title h4 {

  color: black;
  text-align: center;
}




.meat-item-photo {
  display: grid;
  justify-items: center;
  /* background-color: blue; */
}

.meat-item-photo img{
  height: 300px;
}

.meat-item-info {
  /* background-color: blueviolet; */
}


.meat-item-info h3{
  color: black;
  text-align: left;
}


/* change for mobile  */
@media (max-width: 768px) {


  .steak-list {
    grid-template-columns: 1fr;
  }

.meat-item {
  
}


  .meat-categories {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  
  }

 

  
  
}