/* flexbox category menu */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: space-around; 
  justify-items: space-between;  
  padding: 0;  
  z-index: 99;
  padding-top: 95px; 
}

.grid-container img{
  margin: 0px;
}





/* .about-us {
  display: grid;
  justify-items: center;
  text-indent: 20px;
  padding: 100px;
} */


/* flexbox for hours of operation */
.prime-steaks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-image: url(../images/1-sunset-end-of-pier-square.jpg);
  /* background-color: darkolivegreen; */
}

.prime-steaks img {
  height: 600px;
    
}

.prime-steaks img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}


.prime-steaks_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-image: url(../images/sunset_mid_pier_wide.jpg);
  /* background-color: darkolivegreen; */
}

.prime-steaks_2 img {
  height: 600px;
    
}

.prime-steaks_2 img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}


.instagram-container {
  display: grid;  
  width: 100%;
  padding-top: 100px;
  justify-items: center;  
}

/* Button One */
.btn-1 {
  display: inline-block;
  width:  320px;
  padding: 0px 50px;
  border: none;
  color: var(--primary);
  background-color: var(--dark);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--highlight);
  border: 1px solid var(--primary);
  transition: ease-out .3s;
  outline: none;
}

.btn-1 h1 {
  color: var(--light);
}

.btn-1 h1:hover {
  color: var(--primary);
}

.btn-1 h2 {
  font-size: 24px;
}

.btn-1:hover {
  box-shadow: inset 400px 0 0 0 var(--black);
  cursor: pointer;
  color: var(--night);
}


/* Button Two */
.btn-2 {
  width: 320px;
  height: 70px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  transition: ease-out .3s;
  outline: none;
  border: .5px solid var(--medium);
  position: relative;
  z-index: 1;
  margin: 0;
  
  
}

.btn-2 h2 {
  font-size: 21px;
  text-align: center;
  color: var(--text);
  
  
  
}

.btn-2:hover {
  color: var(--highlight);
  cursor: pointer;
}


.btn-2:before {
  transition: .5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--black);
  
}


.btn-2:hover:before {
  transition: .5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.title-button-container { 
  text-align: center;
}

.learn-more-button-container {
  display: grid;
  grid-template-columns: 1fr;  
  width: 220px;
  padding-left: 560px;
  padding-bottom: 20px;
  text-align: center;  
}


.btn-4 {
  display: inline-block;
  /* width:  300px;
  height: 120px; */
  height: 55px;
  padding: 0px 50px;
  border: none;
  background-color: var(--night);
  border-radius: 35px;
  box-shadow: inset 0 0 0 0 var(--highlight);
  transition: ease-out .3s;
  outline: none;
  /* border: 1px solid var(--primary); */
  opacity: 80%;  
}

.btn-4 p {
  color: var(--highlight);
  font-size: 14px;
  font-weight: 600;
  opacity: 100%;
}

.btn-4:hover {
  scale: 1.05;
  cursor: pointer;
  opacity: 100%;
}



.page-button-container { 
  text-align: center;
  padding-bottom: 40px;
}



/* change for mobile  */
@media (max-width: 768px) {
  .grid-container {
    padding-top: 95px;
  }

  .prime-steaks {
    grid-template-columns: 1fr;
    background-image: url(../images/sidewalk.jpg);

  }
  
  .prime-steaks img{
    padding-top: 5rem;
    
  }

  .prime-steaks_2 {
    grid-template-columns: 1fr;
    background-image: url(../images/sunset_mid_pier_portrait.jpg);

  }
  
  .prime-steaks_2 img{
    padding-top: 5rem;
    
  }

  .about-us {
    padding-left: 20px;
    padding-right:10px;
    padding-top: 50px;
    padding-bottom: 100px;
  }


  .quote img{
    width: 100%;
        
  }

  .newsletter {
    padding-left: 45px;
    padding-right:20px;
    padding-top: 50px;
    padding-bottom: 175px;
  }


  .email-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  #newsletter-form {
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 16px;
    background-color: #f2f2f2;
  }

  #email-input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }

  button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--highlight);
    color: white;
    border: none;
    border-radius: 4px;
  }

  button[type="submit"]:hover{
    background-color: var(--primary);
  }


  .btn-1 {
    padding: 0px 70px;
  }

  .btn-1 h1 {
    font-size: 22px;
  }

  .learn-more-button-container {
    padding-left: 20px;
  }


}
   
