/* flexbox category menu */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: space-around; 
  justify-items: space-between;  
  padding: 0;  
  z-index: 99;
  padding-top: 100px; 
}

.grid-container img{
  padding: 0;
  margin: 0;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 0px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: center;
  justify-items:center;  
}

.category {
  display: grid;
  justify-content: center;
  justify-items: center;  
}

.category img {
  width: 285px;
  margin: 0;
  border-radius: 50%;
  opacity: .75;
  transition: transform .3s ease-in-out;  
}

.category img:hover {
  opacity: 100%;
  transition: opacity .2s ease-in-out;
  transform: scale(1.1);
  transition: scale .2s ease-in;  
}


/* category text titles */
.titles {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;  
}

.titles:hover {  
  color: var(--highlight);
  transition: opacity .2s ease-in-out;
  transform: scale(1.1);
  transition: scale .2s ease-in;
}




/* introduction container */
.intro {
  display: flex;
  position: relative;
  width: 100%; 
  height: 600px;     
}

.background {
  position: relative;
  top: 0;
  left: 0;  
  width: 100%;
  /* height: 800px; */
  object-fit: cover;
}

.quote {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
 
}

.directions {
  padding-top: 100px;
}

.about-us {
  display: grid;
  justify-items: center;
  text-indent: 20px;
  padding: 100px;
}


/* flexbox for hours of operation */
.prime-steaks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-image: url(../images/ribeye-cutting-board-210-1.png);
  /* background-color: darkolivegreen; */
}

.prime-steaks img {
  height: 600px;
    
}

.prime-steaks img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}


.instagram-container {
  display: grid;  
  width: 100%;
  padding-top: 100px;
  justify-items: center;  
}


.city-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  position: relative;
  padding: 15px;
  padding-bottom: 50px;
}

.city-images img {
  height: 600px;
}



/* change for mobile  */
@media (max-width: 768px) {
  .grid-container {
    padding-top: 110px;
  }

  .category-container{
    grid-template-columns: 1fr 1fr;
    justify-items: space-around;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
  }

  .category-container img{
    height: 150px;
    width: 150px;
    padding: 5px;    
  }

  .category img{
    margin: 0px;        
  }
  
  .intro {
    height: 400px;
    width: 100%;  
  }

  .quote {
    top: 75%;
  }

  .directions {
    padding-top: 20px;
  }
  

  .prime-steaks {
    grid-template-columns: 1fr;
    background-image: url(../images/4-pier-columns-square-5.png);

  }
  
  .prime-steaks img{
    padding-top: 5rem;
    
  }

  .about-us {
    padding-left: 20px;
    padding-right:10px;
    padding-top: 50px;
    padding-bottom: 100px;
  }


  .quote img{
    width: 100%;
        
  }




.newsletter {
  padding-left: 45px;
  padding-right:20px;
  padding-top: 50px;
  padding-bottom: 175px;
}


.email-container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}


.city-images {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  
  
  
}

.city-images img {
  height: 350px;
}


/* chat gpt */
#newsletter-form {
  display: flex;
  width: 30%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 16px;
  background-color: #f2f2f2;
}

#email-input {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--highlight);
  color: white;
  border: none;
  border-radius: 4px;
}

button[type="submit"]:hover{
  background-color: var(--primary);
}


}
   
