.wine-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;

}


.store-heading {
  display: grid;
  justify-items: center;
  background-color: black;
  border-bottom: 3px solid var(--primary);
}

.store-category {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
}

.store-category h4 {
  text-align: center;
  color: var(--highlight);
}


/* chat gpt code */
.store-category-container {
  display: grid;  
  justify-items: center;
  flex-wrap: wrap;
  background-color: white;
}


.category-title {
  justify-content: center;
}


.product-image {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 10px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.product-info.show {
  transform: translateY(0);
}




/* End Chat GPT code */



.wine-list {
  display: grid;
  /* grid-template-rows: 1fr 6fr; */
  justify-items: center;
  justify-content: left; 
  padding-top: 20px;  
  background-color: white;   
}

.wine-list h5 {
  text-align: left;
}

.wine-list li {
  color: black;
  text-align: left;
}

.wine-list a:visited {
  color: black;
}


.prime-wine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-color:white;
  /* background-color: darkolivegreen; */
}

.prime-wine img {
  height: 600px;  
}

.prime-wine img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}

.by-carlos {
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  
}


.wine-info {
  padding-left: 200px;
  padding-right: 200px;
}

/* change for mobile  */
@media (max-width: 768px) {



  .wine-categories {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  
  }  
  
  /* Store Category Intro */
  
  .store-category {
    grid-template-columns: 1fr 2fr;    
  }
  
  .store-category-container {
    grid-template-rows: 60px 600px;    
  }

  .category-title {
    height: 100px;    
  }

  .category-title h5{
    text-align: center;
  }
  
  .store-category h6 {
    font-size: 18px;  
    
  }


  .product-image {
    position: relative;
    width: 120px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
  }   
  
  
  .prime-wine {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    

  }
  
  .prime-wine img{
    padding-top: 30px;
    height: 400px;
    
  }

  .by-carlos {    
    top: 28%;
    left: 45%;    
    max-width: 85%;
    
  }
  
.wine-info {
  padding-left: 20px;
  padding-right: 20px;
}


}