.about-carlos {
  position: absolute;
  top: 60%;
  left: 12%;
  
}

.btn-5 {
    display: inline-block;
    padding: 0px 50px;
    border: none;
    color: var(--primary);
    background-color: var(--black);
    border-radius: 35px;
    box-shadow: inset 0 0 0 0 var(--highlight);
    border: 1px solid var(--primary);
    transition: ease-out .3s;
    outline: none;
    opacity: 75%;
  }
  
  .btn-5 h1 {
    color: var(--light);
  }
  
  .btn-5 h1:hover {
    color: var(--primary);
  }
  
  .btn-5 h2 {
    font-size: 20px;
  }
  
  .btn-5:hover {
    box-shadow: inset 400px 0 0 0 var(--black);
    cursor: pointer;
    color: var(--night);
  }
  


.wine-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 50px;
  padding-top: 50px;

}

.wine-group-button-container {
  display: grid;
  justify-content: space-around;
  padding: 10px;
  

}


.store-heading {
  display: grid;
  justify-items: center;
  background-color: var(--black);
  border-bottom: 3px solid var(--primary);
}

.store-heading h4 {
  color: var(--light);
}


.wine-description {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--night);
  padding: 0px 300px;
}


.store-category {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
}

.store-category h4 {
  text-align: center;
  color: var(--highlight);
}


/* chat gpt code */
.store-category-container {
  display: grid;  
  justify-items: center;
  flex-wrap: wrap;
  background-color: white;
}


.category-title {
  justify-content: center;
}


.product-image {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 10px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.product-info.show {
  transform: translateY(0);
}




/* End Chat GPT code */



.wine-list {
  display: grid;
  /* grid-template-rows: 1fr 6fr; */
  justify-items: center;
  justify-content: left; 
  padding-top: 20px;  
  background-color: white;   
}

.wine-list h5 {
  text-align: left;
}

.wine-list li {
  color: black;
  text-align: left;
}

.wine-list a:visited {
  color: black;
}


.prime-wine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-color:white;
  /* background-color: darkolivegreen; */
}

.prime-wine img {
  height: 600px;  
}

.prime-wine img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}

.by-carlos {
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  
}


.wine-info {
  padding-left: 200px;
  padding-right: 200px;
}

/* change for mobile  */
@media (max-width: 768px) {

  .about-carlos {
    right: 5%;
    top: 75%;
  }


  .wine-categories {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  
  }  
  
  /* Store Category Intro */
  
  .store-category {
    grid-template-columns: 1fr 2fr;    
  }
  
  .store-category-container {
    grid-template-rows: 60px 600px;    
  }

  .category-title {
    height: 100px;    
  }

  .category-title h5{
    text-align: center;
  }
  
  .store-category h6 {
    font-size: 18px;  
    
  }


  .product-image {
    position: relative;
    width: 120px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
  }   
  
  
  .prime-wine {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    

  }
  
  .prime-wine img{
    padding-top: 30px;
    height: 400px;
    
  }

  .by-carlos {    
    top: 28%;
    left: 45%;    
    max-width: 85%;
    
  }
  
.wine-info {
  padding-left: 20px;
  padding-right: 20px;
}


.wine-description {
  padding: 0;
}


}