.store-category {
  background-color: white;
}

.store-category h4 {
  text-align: center;
  color: var(--highlight);
}


.wine-list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  background-color: white;
  height: 300px;
   
}


.wine-list h5 {
  color: black;
  text-align: center;
}

.wine-list li {
  color: black;
  text-align: center;
}

.wine-list a:visited {
  color: black;
}

.wine-list a:link {
  color: var(--highlight);
}





/* .cabernet-sauvignon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
} */

.prime-wine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  background-color:white;
  /* background-color: darkolivegreen; */
}

.prime-wine img {
  width: 100%;  
}

.prime-wine img:hover {
  transform: scale(1.05);
  transition: scale .5s ease-in-out;
  cursor: pointer;
}

.by-carlos {
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  
}


/* change for mobile  */
@media (max-width: 768px) {

  .prime-wine {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    

  }
  
  .prime-wine img{
    padding-top: 5rem;
    height: 400px;
    
  }

  .by-carlos {    
    top: 28%;
    left: 45%;    
    max-width: 85%;
    
  }
  



}